* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato";
}

.header
{
  width: 100%;
  height: 80px;
  background-color: #004F94;
  box-shadow: 0 0 3px #000;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  width: 240px;
  height: 80px;
  display: inline-block;
  left: 0;
  position: absolute;
  background: url(../img/logo.png) center center / contain no-repeat;
}


.header li
{
  display: inline-block;
}

.header li:hover a {
  color: black;
  background: white;
}

.header li a
{
  display: block;
  font-size: 150%;
  line-height: 80px;
  padding: 0px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  transition: .2s ease;
}

.contact-button {
  background: black;
}

.remnant {
  width: 80px;
}

.content .content-section {
  width: 100%;
  height: 1080px;
  position: relative;
}

#home {
  background: linear-gradient(15deg, #070123, gray);
}

#home .home-head {
  font-family: "Oswald", "Montserrat", "Lato", sans-serif;
  color: white;
  font-size: 80px;
  position: absolute;
  left: 100px;
  text-transform: uppercase;
  top: 150px;
  animation: comefromleft 1s ease 1;
}

@keyframes comefromleft {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 100px;
    opacity: 1;
  }
}

#home .home-description {
  font-family: "Oswald", "Montserrat", "Lato", sans-serif;
  color: #00ffbe;
  width: 40%;
  text-align: justify;
  font-size: 40px;
  position: absolute;
  left: 100px;
  top: 350px;
  animation: comefrombottom 1.5s ease 1;
}

@keyframes comefrombottom {
  from {
    top: 500px;
    opacity: 0;
  }
  to {
    top: 350px;
    opacity: 1;
  }
}

#about {
  background: linear-gradient(15deg, gray, #3a22a5);
}

#about .about-head {
  font-family: "Oswald", "Montserrat", "Lato", sans-serif;
  color: white;
  font-size: 80px;
  position: absolute;
  right: 100px;
  text-transform: uppercase;
  top: 150px;
  animation: comefromright 1s ease 1;
}

@keyframes comefromright {
  from {
    right: -100px;
    opacity: 0;
  }
  to {
    right: 100px;
    opacity: 1;
  }
}

#blog {
  background: linear-gradient(15deg, #00b7ff, gray);
}

#blog .blog-head {
  font-family: "Oswald", "Montserrat", "Lato", sans-serif;
  text-align: center;
  color: white;
  font-size: 80px;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  top: 150px;
  animation: comefromtop 1s ease 1;
}

@keyframes comefromtop {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 150px;
    opacity: 1;
  }
}

#gallery {
  background: linear-gradient(15deg, rgba(255, 255, 255, 0.507), rgb(44, 44, 44));
}

#gallery .gallery-head {
  font-family: "Oswald", "Montserrat", "Lato", sans-serif;
  text-align: center;
  color: white;
  font-size: 80px;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  top: 150px;
  animation: comefromtop 1s ease 1;
}

#contact {
  background: linear-gradient(15deg, rgba(255, 0, 76, 0.507), rgb(44, 44, 44));
}

#contact .contact-head {
  font-family: "Oswald", "Montserrat", "Lato", sans-serif;
  text-align: center;
  color: white;
  font-size: 80px;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  top: 400px;
  animation: smalltobig 1s ease 1;
}

@keyframes smalltobig {
  from {
    font-size: 0px;
    opacity: 0;
  }
  to {
    font-size: 80px;
    opacity: 1;
  }
}

.footer {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: "Montserrat", "Lato", sans-serif;
  font-size: 30px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 1));
}

.icon {
  padding: 10px;    
}